@import "tailwindcss";

@font-face {
  font-family: "Pretendard-Regualr";
  src: url("components/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Bold";
  src: url("components/fonts/Pretendard-Bold.woff");
}

@font-face {
  font-family: "ExtraBold";
  src: url("components/fonts/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "ExtraLight";
  src: url("components/fonts/Pretendard-ExtraLight.woff");
}

@font-face {
  font-family: "ExtraLight";
  src: url("components/fonts/Pretendard-ExtraLight.woff");
}

@font-face {
  font-family: "Light";
  src: url("components/fonts/Pretendard-Light.woff");
}

@font-face {
  font-family: "Medium";
  src: url("components/fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "SemiBold";
  src: url("components/fonts/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Thin";
  src: url("components/fonts/Pretendard-Thin.woff");
}

@layer base {
  html {
    font-family: "Pretendard-Regualr";
  }
}

/* 기본 폰트 설정 */
/* body {
  font-family: 'Pretendard-Regualr';
} */

@theme {
  --color-white: #fffefc;
  --color-white-100: #f1f2fa;
  --color-primary: #42cdad;
  --color-primary-100: #50ffd7;
  --color-primary-300: #46e5c0;
  --color-grey-100: #f4f4f4;
  --color-grey-200: #eaeaea;
  --color-grey-300: #b6b6b6;
  --color-grey-500: #6c6c6c;
  --color-navy-700: #172a3a;
  --color-black: #1c1c1c;
}
